a:link {
    color: aqua;
}
a:visited {
    color: #ea1b1b;
}
li {
    color: #d697ff;
    line-height: 1.5;
    font-style: normal;
}
table {
    color: #7675ff;
    text-align: center;
    border: 1px solid #1eefd7;
    border-collapse: separate;
    border-spacing: 5px;
}
body {
    background-color: #262525;
}
input[type="text"] {
    width: 50%px;
    padding: 3px;
    margin: 2px 0;
    box-sizing: border-box;
}
label {
    color: aqua;
}
.highlight {
    color: #dd96fc;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #66c9fd;
    text-align: center;
    line-height: 1.2;
    letter-spacing: normal;
    word-spacing: 2px;
}

.text {
    text-align: center;
    color: #d99fff;
    line-height: 1.2;
    letter-spacing: normal;
    word-spacing: 2px;
}

.links {
    text-align: center;
}
.container p {
    max-width: 65ch;
    line-height: 1.6;
    margin: 0.5rem auto;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

video,
iframe {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
}

.navbar {
    text-align: center;
    width: 100%;
}

/*stuff that stays the same*/
.navbutton {
    background-color: #020003;
    border: 2px solid #444;

    height: 30px;
    padding: 10px;
}

/*default - mobile/phone*/
.navbutton {
    width: 100%;
    margin: -2px;
}

/*tablet and up*/
@media (min-width: 830px) {
    .navbutton {
        display: inline-block;
        width: 25%;
        margin: -4px;
    }
}

/*large desktop*/
@media (min-width: 1200px) {
    .navbutton {
        display: inline-block;
        width: 150px;
        margin: 10px;
    }
}
